# Lesson 4 - Putting it all into practice

The data we'll be using comes from the [Sendy Logistics Challenge on Zindi](https://zindi.africa/competitions/sendy-logistics-challenge). You'll need to register on Zindi to join the competition and access the data, which comes as 5 separate files:
- Train.csv - is the dataset that you will use to train your model.
- Test.csv - is the dataset on which you will apply your model to.
- Riders.csv - contains unique rider Ids, number of orders, age, rating and number of ratings
- VariableDefinitions.csv - Definitions of variables in the Train, Test and Riders files
- SampleSubmission.csv - Shows the submission format (we'll look at this later, in lesson 4)

Colab: https://colab.research.google.com/github/johnowhitaker/ds_zero/blob/master/04_Practice_On_Zindi.ipynb

## Load the data

In [ ]:
my_var = True
if my_var:
    print("Hello World")

Hello World

In [ ]:
import pandas as pd

In [ ]:
1+7

8

In [ ]:
df = pd.DataFrame(
    {"column one":[1, 5, 36]}
    
)
df

   column one
0           1
1           5
2          36

In [ ]:
df["column two"] = df["column one"] * 4
df

   column one  column two
0           1           4
1           5          20
2          36         144

In [ ]:
if df. == :

## Explore

## Baseline Model

## Feature Engineering

## A better model

## Making a Submission

## Comparing Models

## Additional features from 'Riders'